@model IEnumerable<CyberResilience.Area.Admin.Models.BaseQuestionsViewModel>
@using CyberResilience.Common
@using CyberResilience.Common.App_LocalResources;

<style>
    .tab {
        color: white;
    }

    #subtrhead {
        background-color: #cc1616;
    }
</style>


@if (Model != null)
{
    <div id="tbl" class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login">
                <h2>@Resource.BaseQuestions</h2>
                <p class="login_subtext">@Resource.BaseQuestions</p>
                <div class="login_form">
                    <form>
                        <section class="data_table_section">
                            <div class="container">
                                <div class="row">
                                    <div class="data_table_container">
                                        <table id="example2" class="table table-bordered table-hover table-striped">
                                            <tr>
                                                <th>
                                                    @Resource.BaseQuestionNameAr
                                                </th>
                                                <th>
                                                    @Resource.BaseQuestionNameEn
                                                </th>
                                                <th>
                                                    @Resource.Oporations
                                                </th>
                                            </tr>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.BaseQuestionNameAr)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.BaseQuestionNameEn)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink(@Resource.EditBaseQuestions, "EditBaseQuestion", new { BaseQuestionId = item.Id }) |
                                                            @Html.ActionLink(@Resource.BaseQuestionsDetails, "BaseQuestionDetails", new { BaseQuestionId = item.Id }) |
                                                            @Html.ActionLink(@Resource.DeleteBaseQuestions, "DeleteBaseQuestion", new { BaseQuestionId = item.Id }) |
                                                            @Html.ActionLink(@Resource.AddBaseQuestions, "AddBaseQuestion", new { BaseQuestionId = item.Id }) |
                                                            <a href="#" class="qstn" data-toggle="modal" data-target="#QuestionsModal" data-assigned-id="@item.Id">@Resource.AddQuestions</a>   |  
                                                            @*<a onclick="hidetr(@item.Id)" data-assigned-id="@item.Id"  href="#" class="icofont-search"></a>*@
                                                        </td>
                                                    </tr>
                                                    if (item.Questions != null)
                                                    {
                                                        <tr id="tr+@item.Id"  style="background-color:#F4DFE1;" class="text-black-50">
                                                            <th>
                                                                @Resource.QuestionsAr
                                                            </th>
                                                            <th>
                                                                @Resource.QuestionsEn
                                                            </th>
                                                            <th>
                                                                @Resource.IsMandatory
                                                            </th>
                                                            <th>
                                                                @Resource.Oporations
                                                            </th>
                                                        </tr>
                                                        foreach (var question in item.Questions)
                                                        {
                                                            <tr id="tr+@item.Id"  style="background-color:#F4DFE1 !important;" class="bg-white">
                                                                <td  style="background-color:#F4DFE1 !important;" class="bg-white">
                                                                    @Html.DisplayFor(modelItem => question.QuestionAr)
                                                                </td>
                                                                <td style="background-color:#F4DFE1 !important;" class="bg-white">
                                                                    @Html.DisplayFor(modelItem => question.QuestionEn)
                                                                </td>
                                                                <td style="background-color:#F4DFE1 !important;" class="bg-white">
                                                                    @Html.CheckBoxFor(modelItem => question.IsMandatory.Value , new {  disabled = "disabled" })
                                                                    <input name="IsMandatory" type="hidden" value="false" />
                                                                </td>
                                                                <td style="background-color:#F4DFE1 !important;" class="bg-white">
                                                                    <a href="#" class="eqstn" data-toggle="modal" data-target="#QuestionsEditModal" data-assigned-id="@question.Id">@Resource.EditQuestions</a>   |
                                                                    <a href="#" class="qsatt" data-toggle="modal" data-target="#AttachmentModal" data-assigned-id="@question.Id">@Resource.AddQuestionAttachments</a> |
                                                                    @Html.ActionLink(@Resource.DeleteQuestions, "DeleteQuestion", new { QuestionId = question.Id })
                                                                </td>
                                                            </tr>
                                                            foreach (var attchemnt in question.questionAttachments)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                      @Resource.QuestionAttachments
                                                                    </td>
                                                                    <td>
                                                                        <a href="@attchemnt.ToAttachmentToString()">@attchemnt.FileName</a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="@attchemnt.ToAttachmentToDelete()">@Resource.DeleteAttachments</a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" class="qsatt" data-toggle="modal" data-target="#AttachmentModal" data-assigned-id="@attchemnt.QuestionId">@Resource.AddQuestionAttachments</a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="tbl" class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login">
            </div>
        </div>
    </div>

}

<div class="modal fade login_modal" id="AttachmentModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="Attachments"></div>
        </div>
    </div>
</div>





<script>

    $('.qsatt').click(function () {
        debugger;
        var id = $(this).data('assigned-id');
        if (id > 0) {
            var route = '@Url.Action("AddQuestionAttachmentPartial", "Questionnaire")?QuestionId=' + id ;
            $('#Attachments').load(route);
        }
    });


    $('.qstn').click(function () {
        debugger;
        var id = $(this).data('assigned-id');
        if (id > 0) {
            var route = '@Url.Action("AddQuestionPartial", "Questionnaire")?BaseQuestionId=' + id;
            $('#Questions').load(route);
        }
    });


    $('.eqstn').click(function () {
        debugger;
        var id = $(this).data('assigned-id');
        if (id > 0) {
            var route = '@Url.Action("EditQuestionPartial", "Questionnaire")?QuestionId=' + id;
            $('#QuestionsEdit').load(route);
        }
    });
</script>