@model CyberResilience.Area.Admin.Models.BaseTemplateViewModel
@using CyberResilience.Common
@using CyberResilience.Common.App_LocalResources;

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(m=>m.baseTemplateId)*@
    <section class="login_wrapper">
        <div class="container">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="login">
                        <h2>@Resource.EditTemplate</h2>
                        <p class="login_subtext">@Resource.EditTemplate</p>
                        <div class="login_form">
                            <form>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.TemplateNameAr, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = Resource.TemplateNameAr } })
                                    @Html.ValidationMessageFor(m => m.TemplateNameAr, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.TemplateNameEn, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = Resource.TemplateNameEn } })
                                    @Html.ValidationMessageFor(m => m.TemplateNameEn, "", new { @class = "text-danger" })
                                </div>
                                <div class="row">
                                    <div class="col-md-5 nearby_select">
                                        <label for="">@Resource.PleaseSelectTemplateType</label>
                                        @{
                                            List<SelectListItem> listtemptypes = new List<SelectListItem>();
                                            foreach (var item in Model.TemplateTypes)
                                            {
                                                listtemptypes.Add(new SelectListItem
                                                {
                                                    Text = item.Value,
                                                    Value = item.Id.ToString(),
                                                    Selected = item.Id == Model.TemplateType
                                                });
                                            };
                                        }
                                        @Html.DropDownListFor(model => model.TemplateType, listtemptypes, Resource.PleaseSelectTemplateType, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                                        @Html.HiddenFor(model => model.TemplateType)
                                        @Html.ValidationMessageFor(model => model.TemplateType, "", new { @class = "text-danger" })


                                    </div>
                                    <div class="col-md-5 nearby_select">
                                        <label for="">@Resource.PleaseSelectTemplateType</label>
                                        @Html.ValidationMessageFor(model => model.TemplateSubTypes, "", new { @class = "text-danger" })
                                        @{
                                            List<SelectListItem> listsubtypes = new List<SelectListItem>();
                                            foreach (var item in Model.TemplateSubTypes)
                                            {
                                                listsubtypes.Add(new SelectListItem
                                                {
                                                    Text = item.Value,
                                                    Value = item.Id.ToString(),
                                                    Selected = item.Id == Model.TemplateSubType
                                                });
                                            };
                                        }
                                        @Html.DropDownListFor(model => model.TemplateSubType, listsubtypes, Resource.PleaseSelectTemplateType, new { @class = "form-control", disabled = "disabled" , @readonly = "readonly" })
                                        @Html.HiddenFor(model => model.TemplateSubType)
                                        @Html.ValidationMessageFor(model => model.TemplateSubType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <hr>
                                <button type="button" onclick="location.href='@Url.Action("Templates", "Questionnaire")'" class="btn btn-default">@Resource.Templates</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.BaseQuestions != null)
            {
                @Html.Partial("~/Views/Shared/Partials/_BaseQuestions.cshtml", Model.BaseQuestions)
            }
            @if (Model.Attachments != null)
            {
                @Html.Partial("~/Views/Shared/Partials/_Attachments.cshtml", Model.Attachments)

            }



            <div id="BaseQuestions">
            </div>
            <div class="modal fade login_modal" id="QuestionsModal">
                <div style="max-width: 1015px;min-height: 900px;" class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div id="Questions"></div>
                    </div>
                </div>
            </div>
            <div class="modal fade login_modal" id="QuestionsEditModal">
                <div style="max-width: 1015px;min-height: 900px;" class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div id="QuestionsEdit"></div>
                    </div>
                </div>
            </div>

           

        </div>
    </section>
<script>
    $(document).ready(function () {
        $('#baseTemplateId').change(function () {
            var templateId = $('#baseTemplateId').val();
            var route = '@Url.Action("AddBaseQuestionPartial", "Questionnaire")?TemplateId=' + templateId;
            $('#BaseQuestions').load(route);
            @*$.ajax({
                url: "@Url.Action("AddBaseQuestion", "Questionnaire")" + "?TemplateId=" + templateId,
                type: "GET",
            }).done(function (data) {
                //HideError(data)
                return true;
            });*@
        });
    });
</script>

