@model CyberResilience.Models.FreeServicesViewModel.QuickOnlineAssessmentViewModel
@using CyberResilience.Common
@using CyberResilience.Common.App_LocalResources;

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table-bordered th {
        border: none;
    }

    .collapse {
        direction: rtl !important;
    }
</style>
@using (Html.BeginForm("QuickOnlineAssessment", "FreeServices", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ServiceType)
    @Html.HiddenFor(model => model.Template)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.SubType)
    <form>
        <section id="about" class="about">
            <div class="container">
                <div class="row" dir="rtl">
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                        <div class="section-title" style="text-align:initial;padding:0px 0px;position:relative;">
                            <p>
                                @Resource.AboutUsText
                            </p>
                        </div>
                        <br />
                        <label style="color:#CC1616;" for="">@Resource.PleaseSelectQuastionnaireType</label>
                        @Html.ValidationMessageFor(model => model.TemplateSubTypes, "", new { @class = "text-danger" })
                        @{
                            List<SelectListItem> listsubtypes = new List<SelectListItem>();
                            foreach (var item in Model.TemplateSubTypes)
                            {
                                listsubtypes.Add(new SelectListItem
                                {
                                    Text = item.Value,
                                    Value = item.Id.ToString(),
                                    Selected = item.Id == Model.TemplateSubType
                                });
                            };
                        }
                        @Html.DropDownListFor(model => model.TemplateSubType, listsubtypes, Resource.PleaseSelectQuastionnaireType, new { @class = "form-control" })
                        @Html.HiddenFor(model => model.TemplateSubType)
                        @Html.ValidationMessageFor(model => model.TemplateSubType, "", new { @class = "text-danger" })
                        <br />
                        <div class="section-title" style="text-align:initial;padding:0px 0px;position:relative;">
                            <p>
                                @Resource.AboutUsText
                                @Resource.AboutUsText
                                @Resource.AboutUsText
                                @Resource.AboutUsText
                                @Resource.AboutUsText
                                @Resource.AboutUsText
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                        <img src="~/assets/img/white.jpeg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
        <div id="QuastionnaireBody"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-3">

            </div>
            <div class="col-md-4 col-md-offset-3">
                <div class="form-group">
                    <input type="submit" value="@Resource.GetResults" class="btn btn-default" />
                </div>
                @*<button type="submit" formaction=@Url.Action("QuickOnlineAssessment") formmethod="post" class="btn btn-default">@Resource.Save</button>*@
                <div class="form-group">
                    <button type="submit" formaction="@Url.Action("ArhciveAssessment")" formmethod="post" class="btn btn-default">@Resource.SaveAsDraft</button>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-3">

            </div>
        </div>
    </form>
                            }
<script>
    $(document).ready(function () {
        $('#TemplateSubType').change(function () {
            debugger;
            var TemplateSubType = $('#TemplateSubType').val();
            var route = '@Url.Action("QuastionnaireBodyPartial", "FreeServices")?subType=' + TemplateSubType;
            $('#QuastionnaireBody').load(route);
        });

    });
</script>
